flyers/n8n_workflow.json
{
  "name": "まなちゃんヒアリング → Sheets → Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manami-hearing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "manami-hearing"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"ok\":true}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "シート1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "送信日時":    "={{ $json.body['送信日時'] }}",
            "メニュー名":  "={{ $json.body['Q1_メニュー名'] }}",
            "施術の流れ":  "={{ $json.body['Q2_施術の流れ'] }}",
            "高齢者への配慮": "={{ $json.body['Q3_高齢者への配慮'] }}",
            "施術時間":    "={{ $json.body['Q4_施術時間'] }}",
            "料金":        "={{ $json.body['Q5_料金'] }}",
            "開催頻度":    "={{ $json.body['Q6_開催頻度'] }}",
            "施術場所":    "={{ $json.body['Q7_施術場所'] }}",
            "予約方法":    "={{ $json.body['Q8_予約方法'] }}",
            "メッセージ":  "={{ $json.body['Q9_メッセージ'] }}",
            "選択画像":    "={{ $json.body['選択画像'] }}",
            "追記":        "={{ $json.body['追記'] }}"
          }
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "channel": "#YOUR_SLACK_CHANNEL",
        "text": "={{ '✿ まなちゃんからヒアリング回答が届きました ✿\\n\\n' + '📋 メニュー名：' + $json.body['Q1_メニュー名'] + '\\n' + '⏱ 施術時間：' + $json.body['Q4_施術時間'] + '\\n' + '💰 料金：' + $json.body['Q5_料金'] + '\\n' + '📅 開催頻度：' + $json.body['Q6_開催頻度'] + '\\n' + '📍 施術場所：' + $json.body['Q7_施術場所'] + '\\n' + '💬 メッセージ：' + $json.body['Q9_メッセージ'] + '\\n' + '📝 追記：' + ($json.body['追記'] || 'なし') + '\\n\\n→ スプレッドシートで全回答を確認できます' }}",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [460, 420],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Google Sheets",       "type": "main", "index": 0 },
          { "node": "Slack",               "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-07T00:00:00.000Z",
  "versionId": "1"
}
